In [ ]:
import pandas as pd
import csv

In [64]:
# reading csv file
df = pd.read_csv('adult.data.csv')

In [ ]:
# Checking headers and data types
df.info()

In [ ]:
# Looking at examples of data fields
df.head()

<font color='#9999ff'> **Qn: How many people of each race are represented in this dataset?**</font>  

We filter on race and use '.value_counts()' method

In [ ]:
# Selection of unique values for 'race' field 
df['race'].value_counts()

Unique races represented in this dataset: **'White', 'Black', 'Asian-Pac-Islander', 'Amer-Indian-Eskimo', 'Other'**

<font color='#9999ff'> **Qn: What is the average age of men?**</font>  

We do this by selecting tuples where 'sex' is 'Male' and lookup the 'age' column and using '.mean()' method

In [ ]:
df[df['sex'] == 'Male']['age'].mean().round(1)

Average age of men: **39.4 years old**

<font color='#9999ff'> **Qn: What is the percentage of people who have a Bachelor's degree?**</font>

In [ ]:
# Get percentage of people with Bachelor's degree
percent_bach_deg = round(((len(df[df['education'] == 'Bachelors']) / len(df)) * 100), 1)
print(percent_bach_deg)

Perent of people with Bachelor's degree: **16.4%**

<font color='#9999ff'> **Qn: What percentage of people WITH advanced education (Bachelors, Masters, or Doctorate) make more than 50K?**</font>  

We first identify tuples where individuals have higher education, then we get a count.

In [ ]:
# Tuples with higher education
higher_education = df.loc[df['education'].isin(['Bachelors', 'Masters', 'Doctorate']),['education', 'salary']]

# alternatively, if we wish to select entire row 
# higher_education = df[df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Get count of people with higher education
len(higher_education)

There are 7491 individuals with higher education.

From these individuals we now select those with salary more than 50k

In [ ]:
higher_education_rich = higher_education[higher_education['salary'] == '>50K']

# Getting a count of people with higher education and salary above 50K
len(higher_education_rich)

There are 7491 individuals with higher education. 3486 of them have salary above 50k.  

We now calculate a percentage

In [ ]:
higher_education_rich_percent = (len(higher_education_rich) / len(higher_education)) * 100

print(round(higher_education_rich_percent, 1))

Percent of individuals with higher education earning more than 50K: **46.5%**

<font color='#9999ff'>**Qn: What percentage of people WITHOUT advanced education (Bachelors, Masters, or Doctorate) make more than 50K?** </font>  

We first identify tuples where individuals DO NOT have higher education, then we get a count.

In [ ]:
# Tuples without higher education
lower_education = df.loc[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate']),['education', 'salary']]

# alternatively, if we wish to select entire row 
# lower_education = df[~df['education'].isin(['Bachelors', 'Masters', 'Doctorate'])]

# Get count of people without higher education
len(lower_education)

There are 25070 individuals without higher education.

From these individuals we now select those with salary more than 50k

In [ ]:
lower_education_rich = lower_education[lower_education['salary'] == '>50K']

# Getting a count of people without higher education and salary above 50K
len(lower_education_rich)

There are 25070 individuals without higher education. 4355 of them have salary above 50k.  

We now calculate a percentage

In [ ]:
lower_education_rich_percent = (len(lower_education_rich) / len(lower_education)) * 100
print(round(lower_education_rich_percent, 1))

Percent of individuals without higher education earning more than 50K: **17.4%**

<font color='#9999ff'>**Qn: What is the minimum number of hours a person works per week (hours-per-week feature)?** </font>  

We index into 'hours-per-week' column and find the minimum number

In [114]:
min_work_hours = df['hours-per-week'].min()

Minimum number of hours worked per week is 1

<font color='#9999ff'>**Qn: What percentage of the people who work the minimum number of hours per week have a salary of >50K?** </font>  

We first get a count of people who work 1 hour per week

In [115]:
count_num_min_hrs_wrk_perwk = len(df[df['hours-per-week'] == min_work_hours])

20 people work 1 hour per week. We now get the count of those who make more than 50k.

In [118]:
# filter on 'hours-per-week' and 'salary'
rich_count = len(df[(df['hours-per-week'] == min_work_hours) & (df['salary'] == '>50K')])

2 people work 1 hour per week and make more than 50k. We now caculate a percentage

In [149]:
# rich_percentage = int((rich_count / count_num_min_hrs_wrk_perwk) * 100)  ~~~~~~~~~~~~~~~~EDIT THISSSS~~~~~~
rich_percentage = (rich_count / count_num_min_hrs_wrk_perwk) * 100

10

10% of people work 1 hour per week and make more than 50k

<font color='#9999ff'>**Qn: What country has the highest percentage of people that earn >50K?** </font>  

We first the list of countries represented

In [152]:
countries = df['native-country'].unique()

array(['United-States', 'Cuba', 'Jamaica', 'India', '?', 'Mexico',
       'South', 'Puerto-Rico', 'Honduras', 'England', 'Canada', 'Germany',
       'Iran', 'Philippines', 'Italy', 'Poland', 'Columbia', 'Cambodia',
       'Thailand', 'Ecuador', 'Laos', 'Taiwan', 'Haiti', 'Portugal',
       'Dominican-Republic', 'El-Salvador', 'France', 'Guatemala',
       'China', 'Japan', 'Yugoslavia', 'Peru',
       'Outlying-US(Guam-USVI-etc)', 'Scotland', 'Trinadad&Tobago',
       'Greece', 'Nicaragua', 'Vietnam', 'Hong', 'Ireland', 'Hungary',
       'Holand-Netherlands'], dtype=object)

We now get the population count for each country (sorted by country index)

In [195]:
country_population = df['native-country'].value_counts().sort_index()
country_population.head()

?           583
Cambodia     19
Canada      121
China        75
Columbia     59
Name: native-country, dtype: int64

We now make a dataframe for people who make more than 50K a year (selecting their country only)

In [ ]:
df_more_than_50k = df.loc[df['salary'] == '>50K', 'native-country']

We count the number of people making more than 50k for each country. We do this by using the '.value_counts()' method.  

Also, we sort this by country.

In [190]:
country_rich_ppl_count = df_more_than_50k.value_counts().sort_index()
country_rich_ppl_count.head()

?           146
Cambodia      7
Canada       39
China        20
Columbia      2
Name: native-country, dtype: int64

Get percentage for people making more than 50k by country. Sort vales

In [ ]:
highest_earning_country_percentage =  ((country_rich_ppl_count / country_population) * 100)

# Round values to 1 dp. Sort by values in descending order.
highest_earning_country_percentage = round(highest_earning_country_percentage, 1).sort_values(ascending=False)

Get top earning country and percentage

In [ ]:
highest_earning_country_percentage.head(1)

Highest earning country by percentage: **Iran**  

Percentage: **41.9%**

<font color='#9999ff'>**Qn: Identify the most popular occupation for those who earn >50K in India.** </font>  

We select by filtering by country and salary

In [ ]:
# output occupation only
rich_indians = df.loc[(df['native-country'] == 'India') & (df['salary'] == '>50K'), 'occupation']

Get value counts for occupation

In [210]:
rich_indians.value_counts().head(3)

Prof-specialty     25
Exec-managerial     8
Other-service       2
Name: occupation, dtype: int64

Top occupation in India for individuals making more than 50K: **Prof-specialty**